/.metadata/
Boot-4-AdminServer/.classpath
Boot-4-AdminServer/.classpath
Boot-4-AdminServer/.classpath
Boot-4-AdminServer/.classpath
Boot-4-AdminServer/.settings/org.eclipse.core.resources.prefs
Boot-4-AdminServer/.settings/org.eclipse.jdt.core.prefs
Boot-4-AdminServer/target/test-classes/com/example/Boot_2_AdminServer/Boot2AdminServerApplicationTests.class
Boot-4-AdminServer/target/classes/META-INF/MANIFEST.MF
Boot-4-AdminServer/.settings/org.eclipse.jdt.core.prefs
Boot-4-AdminServer/.settings/org.eclipse.core.resources.prefs
Boot-4-AdminServer/.classpath
