<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLOW 관리</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container my-5">
    <h2 class="mb-4 text-center">SLOW 관리</h2>

    <table class="table table-hover align-middle">
        <thead>
	        <tr>
	            <th>
	            	<input type="checkbox" id="select-all" class="form-check-input">
				</th>
				<th>타임스탬프</th> <!-- 로그가 저장된 시간 -->
	            <th>종류</th> <!-- SQL 또는 PAGE -->
	            <th>추적ID</th> <!-- 추적 아이디 -->
	            <th>쿼리/URI</th> <!-- 느린 쿼리 또는 uri 출력 -->
	            <th>소요시간</th> <!-- 실행 시간 출력 -->
	            <th>사용자ID</th> <!-- 사용자 아이디 -->
	            <th>사용자IP</th> <!-- 사용자 IP -->
	            <th>접속장치</th> <!-- 사용자 디바이스 -->
	        </tr>
        </thead>
        <tbody>
	        <tr th:each="log : ${logList}">
	            <!-- 선택 체크박스 -->
	            <td>
	                <input type="checkbox" class="form-check-input row-checkbox" th:attr="trace-id=${log.traceId}">
	            </td>
	            <!-- 타임스탬프 -->
				<td th:text="${log.timestmp}"></td>
	            <!-- 종류 -->
	            <td>
	            	<span th:if="${log.callerClass == 'SQL'}" th:text="${log.callerClass}"></span>
					<span th:unless="${log.callerClass == 'SQL'}" th:text="${log.callerMethod}"></span>
	            </td>
	            <!-- 추적 ID -->
	            <td class="text-start">
	    			<a th:href="'/admin/trace/' + ${log.traceId}" target="_blank" th:text="${log.traceId}"></a>
				</td>
	            <!-- 쿼리/URI -->
	            <td>
					<span th:if="${log.query != null}" th:text="${log.query}"></span>
					<span th:unless="${log.query != null}" th:text="${log.uri}"></span>
				</td>
	            <!-- 소요시간 -->
	            <td th:text="${log.executeResult}"></td>
	            <!-- 사용자 ID -->
	            <td th:text="${log.userId}"></td>
	            <!-- 사용자 IP -->
	            <td th:text="${log.ipAddress}"></td>
	            <!-- 접속장치 -->
	            <td th:text="${log.device}"></td>
	        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>
