<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
     <!-- Title Meta -->
     <meta charset="utf-8" />
     <title>어플리케이션 추적 관리</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="A fully responsive premium admin dashboard template, Real Estate Management Admin Template" />
     <meta name="author" content="Techzaa" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="assets/images/favicon.ico">

     <!-- Vendor css (Require in all Page) -->
     <link href="assets/css/vendor.min.css" rel="stylesheet" type="text/css" />

     <!-- Icons css (Require in all Page) -->
     <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

     <!-- App css (Require in all Page) -->
     <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

     <!-- Theme Config js (Require in all Page) -->
     <script src="assets/js/config.min.js"></script>
</head>

<body>

	<div class="container my-5" style="max-width: 90%; margin: 0 auto; padding: 20px;">
		<h2 class="mb-4 text-center">어플리케이션 추적 관리</h2>

		<div class="d-flex justify-content-end mb-3 gap-2">
			<!--<button type="button" class="btn btn-primary btn-api-plant">PlantUML 보기</button>-->
<!--			document.querySelector(".btn-api-plant").addEventListener("click", function () {
						    // 토글할 요소 선택
						    const plantumlContainer = document.getElementById("plantuml-container");
						    
						    // display 속성 토글
						    if (plantumlContainer.style.display == "none") {
						        plantumlContainer.style.display = "flex"; // 보이도록 설정
						    } else {
						        plantumlContainer.style.display = "none"; // 숨기도록 설정
						    }
						});-->
		</div>
		
		<div style="justify-items: center;justify-content: center;" id="plantuml-container">
			
			<uml th:text="${imgSource}">
			
			 </uml>
	
			<script src="//code.jquery.com/jquery.min.js"></script>
			<script src="//cdn.rawgit.com/jmnote/plantuml-encoder/d133f316/dist/plantuml-encoder.min.js"></script>
			<script>
			$("uml").each(function() {
			  var src = "//www.plantuml.com/plantuml/img/" + window.plantumlEncoder.encode( $(this).text() );
			  $(this).replaceWith($('<img style="display:flex; justify-content:center; width: 100%;">').attr('src', src));
			});
			</script>
			<script>
		
			const plantumlContainer = document.getElementById("plantuml-container");
	
			</script>
			
			
		</div>
		
		<br/>
		
		<table class="table table-striped table-centered">
			<thead>
				<tr>
					<th>
		            	<input type="checkbox" id="select-all" class="form-check-input">
					</th>
					<th>타임스탬프</th> <!-- 로그가 저장된 시간 -->
					<th>종류</th> <!-- trace, slow, error -->
		            <th>추적ID</th> <!-- 추적 아이디 -->
		            <th>호출</th> <!-- caller_class 정보 -->
		            <th>호출상세</th> <!-- caller_method 정보 -->
		            <th>수행결과</th> <!-- 실행 시간 출력 -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="log : ${logList}">
		            <!-- 선택 체크박스 -->
		            <td>
		                <input type="checkbox" class="form-check-input row-checkbox" th:attr="trace-id=${log.traceId}">
		            </td>
		            <!-- 타임스탬프 -->
					<td th:text="${log.timestmp}"></td>
					<!-- trace, slow, error -->
					<td th:text="${log.loggerName}"></td>
		            <!-- 추적 ID -->
		            <td class="text-start">
						<span th:if="${log.traceId != null}" th:text="${log.traceId}"></span>
	                    <span th:unless="${log.traceId != null}">N/A</span>
					</td>
					<!-- 호출 -->
		            <td th:text="${log.callerClass}"></td>
		            <!-- 호출상세 -->
		            <td th:text="${log.callerMethod}"></td>
		            <!-- 수행결과 -->
		            <td th:text="${log.executeResult}"></td>
		        </tr>
			</tbody>
		</table>
		
	</div>

	<!-- Vendor Javascript (Require in all Page) -->
	<script src="assets/js/vendor.js"></script>

	<!-- App Javascript (Require in all Page) -->
	<script src="assets/js/app.js"></script>
</body>
</html>
