<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.transfer.TransferMapper">

    <select id="findAll" resultType="com.example.demo.transfer.TransferDto">
        SELECT * FROM transfer
    </select>

    <select id="findByPage" resultType="com.example.demo.transfer.TransferDto">
        SELECT * FROM transfer

        <!-- Add dynamic filters here -->
        <where>
        	1=1
        	<if test="fromAccount != null"> AND fromAccount = #{fromAccount}</if>
<if test="toAccount != null"> AND toAccount = #{toAccount}</if>
<if test="money != null"> AND money = #{money}</if>

        </where>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findById" resultType="com.example.demo.transfer.TransferDto">
        SELECT * FROM transfer WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO transfer (fromAccount, toAccount, money)
        VALUES (#{fromAccount}, #{toAccount}, #{money})
    </insert>

    <update id="update">
        UPDATE transfer
        SET fromAccount = #{fromAccount}, toAccount = #{toAccount}, money = #{money}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM transfer WHERE id = #{id}
    </delete>

</mapper>
