<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.adminserver.mapper.LogMapper">

    <select id="findSlowByPage" resultType="LogDTO">
        SELECT * FROM logging_slow
        WHERE 1=1
        ORDER BY timestmp
        <!-- Add dynamic filters here -->
        <!-- LIMIT #{limit} OFFSET #{offset} -->
    </select>

    <select id="findErrorByPage" resultType="LogDTO">
        SELECT * FROM logging_error
        WHERE 1=1
        ORDER BY timestmp
        <!-- Add dynamic filters here -->
        <!-- LIMIT #{limit} OFFSET #{offset} -->
    </select>

    <select id="findByTraceId" parameterType="String" resultType="LogDTO">
        SELECT * FROM logging_event
        WHERE trace_id = #{traceId} AND logger_name = 'TRACE'
        ORDER BY timestmp
    </select>

</mapper>
