<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.adminserver.mapper.LogMapper">

    <select id="findSlowByPage" resultType="LogDTO">
        SELECT * FROM logging_slow
        WHERE 1=1
        ORDER BY timestmp DESC
    	LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findErrorByPage" resultType="LogDTO">
        SELECT * FROM logging_error
        WHERE 1=1
        ORDER BY timestmp DESC
    	LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findByTraceId" parameterType="String" resultType="LogDTO">
        SELECT * FROM logging_event
        WHERE trace_id = #{traceId}
        ORDER BY timestmp
    </select>
    
    <select id="countSlowLogs" resultType="int">
        SELECT COUNT(*) FROM logging_slow
    </select>

    <select id="countErrorLogs" resultType="int">
        SELECT COUNT(*) FROM logging_error
    </select>
    
	<!-- slow 검색 쿼리 -->
    <select id="findSlowLogs" resultType="LogDTO">
        SELECT *
        FROM logging_slow
        WHERE 1=1
        <if test="startTime != null">
        	AND timestmp &gt;= #{startTime}
	    </if>
	    <if test="endTime != null">
	        AND timestmp &lt;= #{endTime}
	    </if>
        <if test="traceId != null and traceId != ''">
            AND trace_id LIKE CONCAT('%', #{traceId}, '%')
        </if>
        <if test="userId != null and userId != ''">
            AND user_id LIKE CONCAT('%', #{userId}, '%')
        </if>
        <if test="ipAddress != null and ipAddress != ''">
            AND ip_address LIKE CONCAT('%', #{ipAddress}, '%')
        </if>
        <if test="uri != null and uri != ''">
            AND uri LIKE CONCAT('%', #{uri}, '%')
        </if>
        <if test="executeResult != null and executeResult != ''">
            AND CAST(execute_result AS UNSIGNED) >= CAST(#{executeResult} AS UNSIGNED)
        </if>
        ORDER BY timestmp DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- slow 검색 총 개수 -->
    <select id="countSlowSearchLogs" resultType="int">
        SELECT COUNT(*) FROM logging_slow
        WHERE 1=1
        <if test="startTime != null">
        	AND timestmp &gt;= #{startTime}
	    </if>
	    <if test="endTime != null">
	        AND timestmp &lt;= #{endTime}
	    </if>
        <if test="traceId != null and traceId != ''">
            AND trace_id LIKE CONCAT('%', #{traceId}, '%')
        </if>
        <if test="userId != null and userId != ''">
            AND user_id LIKE CONCAT('%', #{userId}, '%')
        </if>
        <if test="ipAddress != null and ipAddress != ''">
            AND ip_address LIKE CONCAT('%', #{ipAddress}, '%')
        </if>
        <if test="uri != null and uri != ''">
            AND uri LIKE CONCAT('%', #{uri}, '%')
        </if>
        <if test="executeResult != null and executeResult != ''">
            AND CAST(execute_result AS UNSIGNED) >= CAST(#{executeResult} AS UNSIGNED)
        </if>
    </select>
    
    <!-- error 검색 쿼리 -->
    <select id="findErrorLogs" resultType="LogDTO">
        SELECT *
        FROM logging_error
        WHERE 1=1
        <if test="startTime != null">
        	AND timestmp &gt;= #{startTime}
	    </if>
	    <if test="endTime != null">
	        AND timestmp &lt;= #{endTime}
	    </if>
        <if test="traceId != null and traceId != ''">
            AND trace_id LIKE CONCAT('%', #{traceId}, '%')
        </if>
        <if test="userId != null and userId != ''">
            AND user_id LIKE CONCAT('%', #{userId}, '%')
        </if>
        <if test="ipAddress != null and ipAddress != ''">
            AND ip_address LIKE CONCAT('%', #{ipAddress}, '%')
        </if>
        <if test="query != null and query != ''">
            AND query LIKE CONCAT('%', #{query}, '%')
        </if>
        <if test="uri != null and uri != ''">
            AND uri LIKE CONCAT('%', #{uri}, '%')
        </if>
        ORDER BY timestmp DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- error 검색 총 개수 -->
    <select id="countErrorSearchLogs" resultType="int">
        SELECT COUNT(*) FROM logging_error
        WHERE 1=1
        <if test="startTime != null">
        	AND timestmp &gt;= #{startTime}
	    </if>
	    <if test="endTime != null">
	        AND timestmp &lt;= #{endTime}
	    </if>
        <if test="traceId != null and traceId != ''">
            AND trace_id LIKE CONCAT('%', #{traceId}, '%')
        </if>
        <if test="userId != null and userId != ''">
            AND user_id LIKE CONCAT('%', #{userId}, '%')
        </if>
        <if test="ipAddress != null and ipAddress != ''">
            AND ip_address LIKE CONCAT('%', #{ipAddress}, '%')
        </if>
        <if test="query != null and query != ''">
            AND query LIKE CONCAT('%', #{query}, '%')
        </if>
        <if test="uri != null and uri != ''">
          	AND uri LIKE CONCAT('%', #{uri}, '%')
        </if>
    </select>
    
    <!-- table 검색 -->
    <select id="findByTable" resultType="LogDTO">
    	SELECT * FROM logging_event
        WHERE logger_name = 'TRACE' AND caller_method REGEXP '^(SELECT|INSERT|UPDATE|DELETE|CREATE|DROP|ALTER)[[:space:]]'
        <if test="callerMethod != null and callerMethod != ''">
        AND caller_method LIKE CONCAT('%', #{callerMethod}, '%')
    	</if>
        ORDER BY timestmp
        LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="countSQLTable" resultType="int">
	    SELECT COUNT(*)
	    FROM logging_event
	    WHERE caller_method REGEXP '^(SELECT|INSERT|UPDATE|DELETE|CREATE|DROP|ALTER)[[:space:]]'
	    <if test="callerMethod != null and callerMethod != ''">
        AND caller_method LIKE CONCAT('%', #{callerMethod}, '%')
   		</if>
	</select>

</mapper>
