<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neobns.admin.flowcontrol.mapper.RateLimiterMapper">
    <select id="findByApplication" resultType="com.neobns.admin.flowcontrol.dto.RateLimiterConfigDto">
        SELECT *
        FROM flow_ratelimiter
        WHERE application=#{application}
    </select>
</mapper>