<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>배치 JOB 목록</title>
</head>
<div class="page-content" layout:fragment="main">

	<div class="container" style="max-width: 90%; margin: 0 auto; padding: 0px;">
		<h2 class="mb-4 text-center"><a href="/batch/jobList">배치 JOB 목록</a></h2>

		<form action="/batch/jobList" method="get" name="frm">

			<div class="row justify-content-end">
				<div class="col-8 p-0">

					<div class="input-group">

						<select class="form-select" name="status">
							<option selected value="">---상태---</option>
							<option th:each="status : ${statusList}"
							        th:selected="${#strings.equals(status, searchMap.status)}" th:text="${status}"
							        th:value="${status}"></option>
						</select>
						<input aria-label="jobName" class="form-control mx-2" name="jobName"
						       placeholder="Job 이름" th:value="${searchMap.jobName}" type="text"/>
						<input class="form-control " name="startDate" th:value="${searchMap.startDate}"
						       placeholder="시작날짜" type="date"/>
						<span class="px-2">~</span>
						<input class="form-control " name="endDate" th:value="${searchMap.endDate}"
						       placeholder="종료날짜" type="date"/>
						<button class="btn btn-sm btn-primary" type="submit">
							<i class="ri-search-line fs-5"></i></button>
					</div>
				</div>
			</div>
			<div class="">
				<table class="table table-sm table-hover">
					<thead>
					<tr class="text-center">
						<th class="sort white-space-nowrap" data-sort="no">No.</th>
						<th class="sort white-space-nowrap" data-sort="instanceId">인스턴스ID</th>
						<th class="sort white-space-nowrap" data-sort="executionId">실행ID</th>
						<th class="sort white-space-nowrap" data-sort="ver">버전</th>
						<th class="sort white-space-nowrap" data-sort="jobName">Job이름</th>
						<th class="sort white-space-nowrap" data-sort="status">상태</th>
						<th class="sort white-space-nowrap" data-sort="exitCode">종료코드</th>
						<th class="sort white-space-nowrap" data-sort="createTime">생성시간</th>
						<th class="sort white-space-nowrap" data-sort="updateTime">변경시간</th>
					</tr>
					</thead>
					<tbody class="list" id="table-orders-body">
					<th:block th:if="${!#lists.isEmpty(list)}">
						<tr class="btn-reveal-trigger align-middle text-center" th:each="job, i : ${list}">
							<td class="no" style="width: 28px;" th:text="${searchMap.pgtl.getSeqNo(i.count)}">0</td>
							<td class="instanceId"><a class="prd-link"
							                          th:href="@{/batch/jobDetail(instanceId=${job.instanceId})}"
							                          th:text="${job.instanceId}"></a></td>
							<td class="excutionId" th:text="${job.exec.executionId}"></td>
							<td class="ver" th:text="${job.version}"></td>
							<td class="jobName" th:text="${job.jobName}"></td>
							<td class="status">
								<span th:attr="class=${job.exec.isStatusComplete ? 'badge bg-secondary' : 'badge bg-warning'}">
                                    <span th:text="${job.exec.status}"></span>
                                </span>
							</td>
							<td class="exitCode">
								<span th:attr="class=${job.exec.isExitComplete ? 'badge bg-secondary' : 'badge bg-warning'}">
					                <span th:text="${job.exec.exitCode}"></span>
					            </span>
							</td>
							<td class="createTime" th:text="${@DateUtil.getDateTimeFormat(job.exec.createTime)}"></td>
							<td class="updateTime" th:text="${@DateUtil.getDateTimeFormat(job.exec.updateTime)}"></td>
						</tr>
					</th:block>
					</tbody>
				</table>

				<th:block th:utext="${searchMap.pgtl.printPageList}"></th:block>
			</div>

		</form>

	</div>

</div>
<!-- ==================================================== -->
<!-- End Page Content -->
<!-- ==================================================== -->

</html>