<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>배치 JOB 목록</title>
</head>
<div class="page-content" layout:fragment="main">

	<div class="container" style="max-width: 90%; margin: 0 auto; padding: 0px;">
		<h2 class="mb-4 text-center"><a href="/admin/errors">배치 JOB 목록</a></h2>

		<form action="/batch/jobList" method="get" name="frm">

			<div class="row main-head ">
				<div class="col-4 p-0 main-title ">
					Batch List <!--  <span >th:text="${@IConstants.BatchStatus.COMPLETED.name()}"</span> -->
				</div>
				<div class="col-8 p-0 main-toolbar ">

					<div class="input-group">

						<select class="form-select" name="status">
							<option selected value="">Status ALL</option>
							<option th:each="status : ${statusList}"
							        th:selected="${#strings.equals(status, searchMap.status)}" th:text="${status}"
							        th:value="${status}"></option>
						</select>
						<input aria-label="jobName" class="form-control form-control-sm mx-2 border" name="jobName"
						       placeholder="JobName" th:value="${searchMap.jobName}" type="text"/>
						<input class="form-control form-control-sm " name="startDate" th:value="${searchMap.startDate}"
						       type="date"/>
						<span class="px-2">~</span>
						<input class="form-control form-control-sm " name="endDate" th:value="${searchMap.endDate}"
						       type="date"/>
						<button class="btn btn-sm btn btn-primary" type="submit"><span
								class="fa fa-search fs--1"></span></button>
					</div>
				</div>
			</div>
			<div class="table-responsive portlet scrollbar">
				<table class="table table-sm table-hover tb-success">
					<thead>
					<tr class="text-center text-800">
						<th class="sort white-space-nowrap" data-sort="no">#</th>
						<th class="sort white-space-nowrap" data-sort="instanceId">insId</th>
						<th class="sort white-space-nowrap" data-sort="executionId">exeId</th>
						<th class="sort white-space-nowrap" data-sort="ver">ver</th>
						<th class="sort white-space-nowrap" data-sort="jobName">jobName</th>
						<th class="sort white-space-nowrap" data-sort="channel">channel</th>
						<th class="sort white-space-nowrap" data-sort="status">status</th>
						<th class="sort white-space-nowrap" data-sort="exitCode">exitCode</th>
						<th class="sort white-space-nowrap" data-sort="createTime">createTime</th>
						<th class="sort white-space-nowrap" data-sort="updateTime">updateTime</th>
						<th class="no-sort white-space-nowrap">Actions</th>
					</tr>
					</thead>
					<tbody class="list" id="table-orders-body">
					<th:block th:if="${!#lists.isEmpty(list)}">
						<tr class="btn-reveal-trigger align-middle text-center" th:each="job, i : ${list}">
							<td class="no" style="width: 28px;" th:text="${searchMap.pgtl.getSeqNo(i.count)}">0</td>
							<td class="instanceId"><a class="prd-link"
							                          th:href="@{/batch/jobDetail(instanceId=${job.instanceId})}"
							                          th:text="${job.instanceId}"></a></td>
							<td class="excutionId" th:text="${job.exec.executionId}"></td>
							<td class="ver" th:text="${job.version}"></td>
							<td class="jobName" th:text="${job.jobName}"></td>
							<td class="channel" th:text="${job.execParams.get(0).parameterValue}"></td>
							<td class="status">
								<span th:attr="class=${job.exec.isStatusComplete ? 'badge bg-secondary' : 'badge bg-warning'}">
                                    <span th:text="${job.exec.status}"></span>
                                </span>
							</td>
							<td class="exitCode">
								<span th:attr="class=${job.exec.isExitComplete ? 'badge bg-secondary' : 'badge bg-warning'}">
					                <span th:text="${job.exec.exitCode}"></span>
					            </span>
							</td>
							<td class="createTime" th:text="${@DateUtil.getDateTimeFormat(job.exec.createTime)}"></td>
							<td class="updateTime" th:text="${@DateUtil.getDateTimeFormat(job.exec.updateTime)}"></td>
							<td class="">-</td>
						</tr>
					</th:block>
					</tbody>
				</table>

				<th:block th:utext="${searchMap.pgtl.printPageList}"></th:block>
			</div>

		</form>

	</div>

</div>
<!-- ==================================================== -->
<!-- End Page Content -->
<!-- ==================================================== -->

</html>