<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="neo.spider.sol.admin.mapper.AccountMapper">

	<insert id="addAccount"
		parameterType="neo.spider.sol.admin.batchServer.dto.AccountDTO">
    	<![CDATA[
    		INSERT INTO ACCOUNT(accountNumber, money, name)
    		VALUES (#{accountNumber}, #{money}, #{name})
    	]]>
	</insert>

	<update id="updateAccount"
		parameterType="neo.spider.sol.admin.batchServer.dto.AccountDTO">
    	<![CDATA[
    		UPDATE ACCOUNT
    		SET accountNumber = #{accountNumber},
    			money = #{money},
    			name = #{name}
			WHERE id = #{id}
    	]]>
	</update>

	<select id="findAccountById"
		resultType="neo.spider.sol.admin.batchServer.dto.AccountDTO" parameterType="long">
        <![CDATA[
            SELECT *
            FROM account
            WHERE id = #{id}
        ]]>
	</select>

</mapper>
