<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>유량제어 등록 페이지</title>
<!--    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>-->
    <script>
        const goBack = () => {
            const searchState = JSON.parse(sessionStorage.getItem('searchState'));
            if (searchState == null){
                location.href = "http://localhost:8080/";
            }
            const {paramPath, ...params} = searchState;
            location.href =  `${paramPath}?` + new URLSearchParams(params).toString();
        };
    </script>
</head>
<body>
    <button onclick="goBack()">뒤로가기</button>
    <form method="post" action="create">
        <h5>등록 어플리케이션</h5>
        <label>
            <input type="text" name="appName" required>
        </label><br>
        <h5>설정 이름</h5>
        <label>
            <input type="text" name="name" required>
        </label>
        <h5>Bulkhead 설정</h5>
        <label>
            최대 동시 요청 수: <input type="number" name="maxConcurrentCalls" required>
        </label>
        <h5>RateLimiter 설정</h5>
        <label>
            단위 시간 당 요청 허용 수 : <input type="number" name="limitForPeriod" required>
        </label>
        <br>
        <label>
            기준 단위 시간(ms): <input type="number" name="limitRefreshPeriod" required>
        </label>
        <br>
        <label>
            허용 요청 초과 시 타임아웃 시간(ms): <input type="number" name="timeoutDuration" required>
        </label>
        <br>
        <button type="submit">등록</button>
    </form>
</body>
</html>