<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.customer.CustomerMapper">

    <select id="findAll" resultType="CustomerDto">
        SELECT * FROM customer WHERE 1=1
        <!-- Add dynamic filters here -->
    </select>

    <select id="findByPage" resultType="CustomerDto">
        SELECT * FROM customer
        WHERE 1=1
        <!-- Add dynamic filters here -->
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="findById" resultType="CustomerDto">
        SELECT * FROM customer WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO customer (customerId, firstName, lastName, email, phoneNumber, address, createdAt, updatedAt)
        VALUES (#{customerId}, #{firstName}, #{lastName}, #{email}, #{phoneNumber}, #{address}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="update">
        UPDATE customer
        SET customerId = #{customerId}, firstName = #{firstName}, lastName = #{lastName}, email = #{email}, phoneNumber = #{phoneNumber}, address = #{address}, createdAt = #{createdAt}, updatedAt = #{updatedAt}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM customer WHERE id = #{id}
    </delete>

</mapper>
