<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neobns.wiremock_service.api.mapper.ApiMapper">

    <!-- API 조회 -->
    <!-- 1. 전체 -->
    <select id="findAll" parameterType="ApiDTO" resultType="ApiDTO">
        SELECT 
        	*
        FROM
        	fwk_mock_rest_api
    </select>
    
    <!-- 2. 단일 -->
    <select id="findById" parameterType="Integer" resultType="ApiDTO">
    	SELECT
    		*
    	FROM
    		fwk_mock_rest_api
    	WHERE
    		id = #{id} 
    </select>
    
    <!-- 3. 멀티 -->
    <select id="findByIds" parameterType="Integer" resultType="ApiDTO">
    	SELECT
    		* 
    	FROM 
    		fwk_mock_rest_api 
    	WHERE 
    		id 
    	IN 
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 신규 API 저장 -->
    <insert id="saveApi" parameterType="ApiDTO">
        INSERT INTO 
        	fwk_mock_rest_api (
        		mock_wiremock_id
        		, mock_api_name
        		, mock_api_url
        		, mock_api_request_method
        		)
        VALUES (
        		#{mockWiremockId}
        		, #{mockApiName}
        		, #{mockApiUrl}
        		, #{mockApiRequestMethod}
        		)
    </insert>

    <!-- API 업데이트 -->
    <!-- 1. 실서버 상태 -->
    <update id="updateCheckedStatus" parameterType="ApiDTO">
        UPDATE 
        	fwk_mock_rest_api
        SET
            mock_last_checked_time = #{mockLastCheckedTime}
            , mock_last_checked_status = #{mockLastCheckedStatus}
        WHERE 
        	id = #{id}
    </update>
    
    <!-- 2.대응답 토글(단일) -->
    <update id="toggleResponseStatusById" parameterType="Integer">
    	UPDATE 
    		fwk_mock_rest_api 
    	SET 
    		mock_response_status = NOT mock_response_status 
    	WHERE 
    		id = #{id}
    </update>
    
    <!-- 3. 대응답 토글(멀티) -->
    <update id="toggleResponseStatusByIds" parameterType="Integer">
        UPDATE 
        	fwk_mock_rest_api
	    SET 
	    	mock_response_status = NOT mock_response_status
	    WHERE id IN
	    <foreach collection="ids" item="id" open="(" separator="," close=")">
	        #{id}
	    </foreach>
    </update>
    
    <!-- 4. 대응답 지정 -->
    <update id="changeResponseStatusById" parameterType="ApiDTO">
    	UPDATE
    		fwk_mock_rest_api
    	SET
    		mock_response_status = #{mockResponseStatus}
    	WHERE
    		id = #{id}
    </update>
    
    <!-- wiremockId 조회 -->
    <select id="findWiremockIdById" resultType="string">
        SELECT mock_wiremock_id FROM fwk_mock_rest_api WHERE id = #{id}
    </select>
    
    <!-- API 삭제 -->
    <delete id="deleteById" parameterType="int">
        DELETE FROM fwk_mock_rest_api
        WHERE id = #{id}
    </delete>
    
    <!-- API 수정 -->
    <update id="updateById" parameterType="ApiDTO">
        UPDATE fwk_mock_rest_api
        SET mock_wiremock_id = #{mockWiremockId}, 
            mock_api_name = #{mockApiName}, 
            mock_api_url = #{mockApiUrl},
            mock_api_request_method = #{mockApiRequestMethod}
        WHERE id = #{id};
    </update>
    
</mapper>