<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Code Generator"
            id="CodeGenerator">
      </category>
      <view
            id="code_generator_plugin.views.BrowserView"
            name="Browser View"
            icon="icons/sample.png"
            class="code_generator_plugin.views.BrowserView"
            category="CodeGenerator"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="code_generator_plugin.views.BrowserView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
