<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.neobns.mapper.QuickMapper">
    <select id="findById" resultType="com.example.neobns.dto.ItemDto" parameterType="string">
        <![CDATA[
            SELECT *
            FROM item
            WHERE id = #{id}
        ]]>
    </select>
    <select id="findAll" resultType="com.example.neobns.dto.ItemDto">
        <![CDATA[
            SELECT *
            FROM item
        ]]>
    </select>

</mapper>
