<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.neobns.oraclemapper.OracleMapper">

    <resultMap id="fwkErrorHisResultMap" type="com.example.neobns.dto.FwkErrorHisDto">
        <result column="ERROR_CODE" property="errorCode"/>
        <result column="ERROR_SER_NO" property="errorSerNo"/>
        <result column="CUST_USER_ID" property="custUserId"/>
        <result column="ERROR_MESSAGE" property="errorMessage"/>
        <result column="ERROR_OCCUR_DTIME" property="errorOccurDtime"/>
        <result column="ERROR_URL" property="errorUrl"/>
        <result column="ERROR_TRACE" property="errorTrace"/>
        <result column="ERROR_INSTANCE_ID" property="errorInstanceId"/>
    </resultMap>
    
    <select id="getRecords" parameterType="long" resultMap="fwkErrorHisResultMap">
        <![CDATA[
            SELECT error_code, error_ser_no, cust_user_id, error_message, error_occur_dtime, ERROR_OCCUR_DTIME, ERROR_URL, ERROR_TRACE, ERROR_INSTANCE_ID 
            FROM (
                SELECT t.*, ROWNUM as rnum
                FROM SYSTEM.FWK_ERROR_HIS t
                WHERE ROWNUM <= #{startLine} + 20;
            )
            WHERE rnum > #{startLine}
        ]]>
    </select>
    
    <select id="getCount">
        <![CDATA[ 
            SELECT COUNT(*)
            FROM SYSTEM.FWK_ERROR_HIS
        ]]>
    </select>
</mapper>